<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-4507322-8"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-4507322-8');
</script>

<style type="text/css">
body {
    position: static !important;
    margin: 0 5% 5% !important;
    min-width: 340px;
    background-color: rgb(124 143 173) !important;
}
h1, h3, .fab:before, .far:before {
    text-shadow: 0 0 3px rgb(0 0 0 / 50%)
}
#avatar {
    box-shadow: 0 0 3px rgb(0 0 0 / 50%)
}
#fullscreen {
    height: 100vh !important;
    opacity: 1 !important;
    object-fit: cover;
}
@media (max-width: 450px) {
    a {
        background: rgb(0 0 0 / 25%);
        backdrop-filter: blur(1px);
    }
}
</style>
